{% if worksheet is None %}
<p>No workout for {{ date }}. <a href="{% url 'workout:index' %}">Go back.</a></p>
{% else %}
<p>Workout for {{ worksheet.date }}: {{ worksheet.workout }}</p>
{% for exercise in exercises %}
<p>{{ exercise.name }}: {{ exercise.reps|default:0 }} reps @{{ exercise.weight|default:0 }}kg</p>
{% endfor %}

{% if worksheet.in_progress %}
<form action="{% url 'workout:close' worksheet.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Close">
</form>
{% endif %}

{% endif %}
