{% if worksheet is None %}
<p>No workout for {{ date }}. <a href="{% url 'workout:index' %}">Go back.</a></p>
{% else %}
<table border="1">
    <caption>Workout for {{ worksheet.date }}: {{ worksheet.workout }}</caption>
    <thead>
        <tr>
            <th scope="col">Exercise</th>
            <th scope="col">Reps</th>
            <th scope="col">Weight</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in exercises %}
        <tr>
            <th scope="row">{{ exercise.name }}</th>
            <td>{{ exercise.reps|default:0 }}</td>
            <td>{{ exercise.weight|default:0 }}kg</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not worksheet.done %}
<form action="{% url 'workout:close' worksheet.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Close">
</form>
{% endif %}

{% endif %}
