@import 'vars.css';

form {
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
}

.worksheet {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 50px;
    max-width: 800px;
    margin-left: 2em;

    > * {
        padding: 0.5em 1em;
        border: 1px solid var(--color-bg-secondary);
        border-width: 0 1px 1px 0;
    }

    .header {
        font-weight: bold;
        color: var(--color-bg);
        background-color: var(--color-table);
        border-width: 0;
    }

    :first-child {
        grid-column: 1 / span 3;
    }
    .exercise {
        grid-column: 1 / span 3;
        grid-row: span 2;
        display: flex;
        align-items: center;
        border-left-width: 1px;
    }
    .result.reps {
        grid-column: 4;
    }
    .result.weight {
        grid-column: 5;
    }
    .result.reps.previous {
        grid-column: 6;
    }
    .result.weight.previous {
        grid-column: 7;
    }
}
