@import 'vars.css';

body {
    margin: 0 2em;
}

form {
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
}

.hidden {
    visibility: hidden;
}

.worksheet {
    display: grid;
    grid-template-columns: repeat(5, 6rem) minmax(3rem, auto);
    grid-auto-rows: 3rem;
    justify-content: var(--justify-normal);

    > * {
        padding: 0.5em 1em;
        border: 1px solid var(--color-bg-secondary);
        border-width: 0 1px 1px 0;
    }

    input {
        margin: 0;
    }

    .even {
        background-color: var(--color-accent);
    }

    .header, .exercise, .result {
        display: flex;
        align-items: center;
    }

    .header {
        font-weight: bold;
        color: var(--color-bg);
        background-color: var(--color-table);
        border-width: 0;
        align-items: end;
        grid-row: span 2;
    }

    .exercise {
        grid-column: 1 / span 3;

        &.repeat {
            grid-row: span 2;
        }
    }
    .exercise:not(.header) {
        border-left-width: 1px;
    }
    .result.reps {
        grid-column: 4;
    }
    .result.weight {
        grid-column: 5;
    }
    .result.status {
        grid-column: 6;
        border-width: 0;
        position: relative;
    }

    &:has(.previous) {
        grid-template-columns: repeat(7, 6rem) minmax(3rem, auto);

        .result.reps.previous {
            grid-column: 6;
        }
        .result.weight.previous {
            grid-column: 7;
        }
        .result.status {
            grid-column: 8;
        }
    }

    .htmx-indicator {
        opacity: 0;
        display: none;
    }
    .htmx-request.htmx-indicator,
    .htmx-request .htmx-indicator {
        opacity: 1;
        display: inline;
        transition: opacity 200ms ease-in;
    }
    .htmx-request .response {
        display: none;
    }

    input[type="text"] {
        max-width: 2rem;

        &:invalid {
            border: 1px solid var(--color-error);

            &:focus {
                outline: 1px solid var(--color-error);
            }
        }
    }
}

ul.errors {
    list-style-type: none;
    padding: 0 1rem;
    margin: 0;
    background-color: #fde6e5;
    border: 1px solid var(--color-error);
    border-radius: 8px;
    position: relative;
    align-self: start;

    &::before {
        content: '';
        display: block;
        background-color: inherit;
        border: inherit;
        border-width: 0 0 1px 1px;
        width: 6px;
        height: 6px;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left: -4px;
    }
}

.calendar {
    table-layout: fixed;
    caption-side: top;
    overflow: show;

    caption {
        .active-worksheets {
            text-align: left;
            padding: 0 1em;
        }
    }

    th {
        width: 5rem;
        height: 2rem;
    }
    td, th {
        text-align: center !important;
    }
    tbody td {
        height: 5rem;
        position: relative;
        border-left: 1px solid var(--color-bg-secondary);

        &:first-child {
            border-left-width: 0;
        }

        span {
            position: absolute;
            font-size: 0.75rem;
            top: 0.25rem;
            left: 0.25rem;
        }

        &.other_month {
            color: var(--color-text-secondary);
        }
    }
    .today {
        box-shadow: 0px 0px 10px 5px var(--color-table);
        border-radius: 6px;
        z-index: 1;
    }

    form {
        padding: 0;
        margin: 0 auto;
        text-align: center;
        button {
            padding: 0.25rem 0.5rem;
        }
    }
}
