@import 'vars.css';

form {
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
}

table {
    tbody tr + tr th[rowspan] {
        border-top: 1px solid var(--color-bg-secondary);
    }

    th + td, td + td {
        border-left: 1px solid var(--color-bg-secondary);
    }

    input[type="text"] {
        display: inline;
        max-width: 2rem;

        &:invalid {
            border: 1px solid var(--color-error);

            &:focus {
                outline: 1px solid var(--color-error);
            }
        }
    }

    form {
        padding: 0;
    }

    &.in-progress {
        tr:has(input:focus) {
            font-weight: bold;
            input {
                font-weight: bold;
            }
        }
    }
}
