@layer theme {
    :root {
        /* https://bulma.io/documentation/features/color-palettes/ */
        --info: hsla(198deg,100%,70%,1);
        --success: hsla(153deg,53%,53%,1);
        --warning: hsla(42deg,100%,53%,1);
        --error: hsla(348deg,100%,70%,1);
    }
}
