{% load static %}

<a id="result-action-{{ result.id }}"
   data-note="{{ result.note|default:'' }}"
   data-action-url="{% url 'worksheet:result' worksheet.id result.id 'note' %}"
   hx-on:click="htmx.find('#notePopover').togglePopover({ source: this })"
   hx-swap-oob="true"
   >
    {% if result.note %}
    <span title="View or modify the note on this result">
        <img src="{% static 'worksheet/img/note-view.svg' %}"
             class="icon"
             alt="View note icon"
             />
    </span>
    {% else %}
    <span title="Add a note to this result">
        <img src="{% static 'worksheet/img/note-add.svg' %}"
             class="icon"
             alt="Add note icon"
             />
    </span>
    {% endif %}
</a>

