{% load static %}
<nav id="calendar-nav" hx-push-url="true" hx-swap-oob="outerHTML">
    <a id="previous-month"
       href="{{ previous_month_url }}"
       hx-get="{{ previous_month_url }}"
       hx-target="table.calendar"
       hx-swap="outerHTML">
        <img src="{% static 'worksheet/img/arrow-left.svg' %}" width="20" height="20">
    </a>
    <span>Workout calendar for {{ month | date:"F Y" }}</span>
    <a id="next-month"
       href="{{ next_month_url }}"
       hx-get="{{ next_month_url }}"
       hx-target="table.calendar"
       hx-swap="outerHTML">
        <img src="{% static 'worksheet/img/arrow-right.svg' %}" width="20" height="20">
    </a>
</nav>

{% if active_worksheets %}
<!--
<div class="active-worksheets">
    <p>Some workouts are still in progress:</p>
    <ul>
        {% for worksheet in active_worksheets %}
        <li>{{ worksheet.date }}: <a href="{{ worksheet.get_absolute_url }}">{{ worksheet.workout }}</a></li>
        {% endfor %}
    </ul>
</div>
-->
{% endif %}
