{% load static %}

<table class="calendar">
    <thead>
        <tr>
            {% for day in days %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for week in calendar %}
        <tr>
            {% for date, data in week.items %}
            {% if date == today %}
            <td class="today">
            {% elif date.month != active_month %}
            <td class="other_month">
            {% else %}
            <td>
            {% endif %}
                <span>{{ date.day }}</span>
                {% if data.worksheet %}
                    <a href="{{ data.worksheet.get_absolute_url }}">{{ data.worksheet.workout }}</a>
                {% elif data.workout %}
                    {% if active_worksheets or date != today %}
                    {{ data.workout }}
                    {% else %}
                    <form action="{% url 'worksheet:create' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" title="Start today's workout">{{ data.workout }}</button>
                    </form>
                    {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

