<form id="noteForm"
      method="POST"
      action="{{ note_form_url }}"
      hx-post="{{ note_form_url }}"
      hx-swap="outerHTML"
      hx-include="[name='csrfmiddlewaretoken']"
      hx-disabled-elt="find input, find button"
      >
      <header>
          <h3>Add a note</h3>
      </header>
      <div>
          {{ note_form }}
      </div>
      <footer>
          <button type="submit" class="">Add note</button>
          <button type="submit" class="outline" hx-on:click="htmx.find('#id_note').value=''">Delete note</button>
      </footer<
</form>
