<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Workout Tracker{% endblock %}</title>
        {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'worksheet/css/oat.min.css' %}">
        <link rel="stylesheet" href="{% static 'worksheet/css/base.css' %}">
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body data-sidebar-layout>
        {% block topnav %}
        <nav data-topnav>
            <div class="row">
                <div class="col-4">
                    <span>Workout Tracker</span>
                </div>
                <div class="col-4 align-center">
                    <span>{% block topnav-title %}Title{% endblock %}</span>
                </div>
                <div class="col-4 align-right">
                    <span>{% block topnav-offside %}Offside{% endblock %}</span>
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block sidebar %}
        <aside data-sidebar>
            <header>Logo</header>
            <nav>...navigation...</nav>
            <footer>Actions</footer>
        </aside>
        {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block javascript %}
        <script src="{% static 'worksheet/js/htmx.min.js' %}"></script>
        {% endblock %}
    </body>
</html>
