<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Workout Tracker{% endblock %}</title>
        {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'worksheet/css/oat.min.css' %}">
        <link rel="stylesheet" href="{% static 'worksheet/css/base.css' %}">
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>
