{% extends 'worksheet/base.html' %}

{% load static %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'worksheet/css/index.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'worksheet/js/index.js' %}"></script>
{% endblock %}

{% block topnav-title %}
    {% include 'worksheet/partials/calendar_title.html' %}
{% endblock %}

{% block content %}
    {% include 'worksheet/partials/calendar.html' %}
{% endblock content %}
