{% extends 'worksheet/base.html' %}

{% load static classes %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'worksheet/css/index.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'worksheet/js/index.js' %}"></script>
{% endblock %}

{% block topnav-title %}
    {% partialdef calendar_nav inline %}
    <nav id="calendar-nav" hx-push-url="true" {% if htmx_request %}hx-swap-oob="outerHTML"{% endif %}>
        <a id="previous-month"
           href="{{ previous_month_url }}"
           hx-get="{{ previous_month_url }}"
           hx-target="table.calendar"
           hx-swap="outerHTML">
            <img src="{% static 'worksheet/img/arrow-left.svg' %}" width="20" height="20">
        </a>
        <span>Workout calendar for {{ month | date:"F Y" }}</span>
        <a id="next-month"
           href="{{ next_month_url }}"
           hx-get="{{ next_month_url }}"
           hx-target="table.calendar"
           hx-swap="outerHTML">
            <img src="{% static 'worksheet/img/arrow-right.svg' %}" width="20" height="20">
        </a>
    </nav>
    {% endpartialdef %}
{% endblock %}

{% block content %}
    {% partialdef calendar inline %}
    <table class="calendar">
        <thead>
            <tr>
                {% for day in days %}
                <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in calendar %}
            <tr>
                {% for date, data in week.items %}
                <td
                {% if date == today %}
                    class="today"
                {% elif date.month != active_month %}
                    class="other-month"
                {% endif %}
                >
                    <span class="day">{{ date.day }}</span>
                    {% if data.worksheet %}
                        <a href="{{ data.worksheet.get_absolute_url }}">{{ data.worksheet.workout }}</a>
                        <br>
                        ({{ data.worksheet.done_exercise }} / {{ data.worksheet.total_exercise }})
                    {% elif data.workout and date != today %}
                        <span class="{% classes skipped=data.skipped %}">{{ data.workout }}</span>
                    {% elif date == today %}
                    {% partial start-workout %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endpartialdef %}
{% endblock content %}

{% partialdef start-workout %}
<form action="{% url 'worksheet:create' %}" method="POST">
    {% csrf_token %}
    <ot-dropdown>
        <menu class="buttons">
            {% if data.workout %}
            <li><button title="Start today's workout" name="workout">{{ data.workout }}</button></li>
            <li>
                <button type="button" popovertarget="select-workout" aria-label="Select a workout" style="height: 100%">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m6 9 6 6 6-6" /></svg>
                </button>
            </li>
            {% else %}
            <button type="button" popovertarget="select-workout" aria-label="Select a workout">
                Select a workout
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m6 9 6 6 6-6" /></svg>
            </button>
            {% endif %}
        </menu>
        <menu id="select-workout" popover>
            {% for w in workouts %}
            <button role="menuitem" name="workout" value="{{ w.id }}">{{ w }}</button>
            {% endfor %}
        </menu>
    </ot-dropdown>
</form>
{% endpartialdef %}
