{% extends 'worksheet/base.html' %}

{% load static %}

{% block content %}

{% if worksheet is None %}
<p>No workout for {{ date }}. <a href="{% url 'worksheet:index' %}">Go back.</a></p>
{% else %}
<table class="{{ worksheet.get_status }}">
    <caption>Workout for {{ worksheet.date }}: {{ worksheet.workout }}</caption>
    <thead>
        <tr>
            <th scope="col">Exercise</th>
            <th scope="col">Reps</th>
            <th scope="col">Weight</th>
            {% if results.0.previous %}
            <th scope="col">Previous reps</th>
            <th scope="col">Previous weight</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% block workout_results %}{% endblock %}
    </tbody>
</table>

{% block workout_form %}
{% if not worksheet.done %}
<form action="{% url 'worksheet:close' worksheet.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Close">
</form>
{% endif %}
{% endblock %}

{% endif %}

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'worksheet/js/htmx.min.js' %}"></script>
{% endblock %}
