{% extends 'worksheet/base.html' %}

{% load static %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'worksheet/css/worksheet.css' %}">
{% endblock %}

{% block topnav-title %}
    {% if worksheet is None %}
    No worksheet found
    {% else %}
    <strong>{{ worksheet.workout }}</strong> &mdash; <a href="{{ calendar_url }}">{{ worksheet.date }}</a>
    <meter id="worksheet-progress"
        min="0" max="{{ meter.max }}"
        low="{{ meter.low }}" high="{{ meter.high }}"
        optimum="{{ meter.optimum }}" value="{{ meter.value }}"></meter>
    {% endif %}
{% endblock %}

{% block topnav-offside %}
    {% if worksheet.done %}
    Completed in <strong>{{ worksheet.get_duration }}</strong>
    {% elif worksheet is not None %}
    <div class="flex items-center justify-end">
        <h2><span id="clock" class="hidden" data-started-at="{{ worksheet.started_at|date:"c" }}">0:00:00</span></h2>
        <form action="{% url 'worksheet:close' worksheet.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Close</button>
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block content %}

{% if worksheet is None %}
    <p>No workout for {{ date }}.</p>
    <p><a href="{% url 'worksheet:index' %}">Go back</a></p>
{% else %}
    <section class="worksheet {{ worksheet.get_status }}">
        <div class="exercise header">Exercise</div>
        <div class="reps header">Reps</div>
        <div class="weight header">Weight (kg)</div>
        {% if results.0.previous %}
        <div class="reps previous header">Previous reps</div>
        <div class="weight previous header">Previous weight (kg)</div>
        {% endif %}

        {% block workout_results %}{% endblock %}
    </section>

    {% block workout_form %}
    {% if not worksheet.done %}
        <dialog id="notePopover" closedby="any" popover>
            {% partialdef note_form inline %}
            <form id="noteForm"
                  method="POST"
                  action="{{ note_form_url }}"
                  hx-post="{{ note_form_url }}"
                  hx-swap="outerHTML"
                  hx-include="[name='csrfmiddlewaretoken']"
                  hx-disabled-elt="find input, find button"
                  >
                  <header>
                      <h3>Add a note</h3>
                  </header>
                  <div>
                      {{ note_form }}
                  </div>
                  <footer>
                      <button type="submit">Add note</button>
                      <button type="submit" class="outline" hx-on:click="htmx.find('#id_note').value=''">Delete note</button>
                  </footer>
            </form>
            {% endpartialdef %}
        </dialog>
    {% endif %}
    {% endblock %}

{% endif %}

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {% if not worksheet.done %}
    <script src="{% static 'worksheet/js/oat.min.js' %}"></script>
    <script src="{% static 'worksheet/js/event.js' %}"></script>
    <script src="{% static 'worksheet/js/worksheet.js' %}"></script>

    <script type="text/javascript">
        registerEvents([
            {
                event: 'DOMContentLoaded',
                cb: worksheet.initClock,
            },
            {
                event: 'updateSuccess',
                element: 'section.worksheet',
                cb: worksheet.updateSuccess,
            },
            {
                event: 'updateError',
                element: 'section.worksheet',
                cb: worksheet.updateError,
            },
            {
                event: 'noteAdded',
                cb: worksheet.notifySuccess,
            },
            {
                event: 'noteDeleted',
                cb: worksheet.notifySuccess,
            },
        ]);
    </script>
    {% endif %}
{% endblock %}
