{% extends 'worksheet/worksheet_base.html' %}

{% load static %}

{% block workout_results %}
{% for result in results %}
    {% cycle 'odd' 'even' as row silent %}
    <div class="exercise {{ row }}">{{ forloop.counter}}. {{ result.exercise.name }}</div>

    {% partialdef result_row inline %}
    <div class="result reps {{ row }} {{ result.reps_status }}">
        {% if worksheet.done %}
        {{ result.reps|default:0 }}
        {% if result.note %}
        <span title="{{ result.note }}">
            <img src="{% static 'worksheet/img/note-view.svg' %}"
                 class="icon"
                 alt="View note"
                 />
        </span>
        {% endif %}
        {% else %}
        <input type="text"
               name="reps"
               inputmode="numeric"
               pattern="\d+"
               title="a positive number, or 0"
               value="{{ result.reps|default:0 }}"
               hx-post="{% url 'worksheet:result' worksheet.id result.id 'reps' %}"
               hx-include="[name='csrfmiddlewaretoken']"
               hx-target="next .status .response"
               hx-indicator="next .status"
               hx-disabled-elt="this"
               hx-validate="true"
               hx-on:keyup="worksheet.checkInput(this, event);"
               required>
        {% endif %}
    </div>
    <div class="result weight {{ row }} {{ result.weight_status }}">
        {% if result.exercise.weight %}
        {% if worksheet.done %}
        {{ result.weight|default:0 }}
        {% else %}
        <input type="text"
               name="weight"
               inputmode="numeric"
               pattern="\d+"
               title="a positive number, or 0, or nothing"
               value="{{ result.weight|default:'' }}"
               hx-post="{% url 'worksheet:result' worksheet.id result.id 'weight' %}"
               hx-include="[name='csrfmiddlewaretoken']"
               hx-target="next .status .response"
               hx-indicator="next .status"
               hx-disabled-elt="this"
               hx-validate="true"
               hx-on:keyup="worksheet.checkInput(this, event);"
               >
               {% endif %}
               {% endif %}
    </div>
        {% if result.previous %}
        <div class="result reps previous {{ row }}">
            {{ result.previous.reps|default:0 }}
            {% if result.previous.note %}
            <span title="{{ result.previous.note }}">
                <img src="{% static 'worksheet/img/note-view.svg' %}"
                     class="icon"
                     alt="View note"
                     />
            </span>
            {% endif %}
        </div>
        <div class="result weight previous {{ row }}">
            {% if result.exercise.weight %}
            {{ result.previous.weight|default:0 }}
            {% endif %}
        </div>
        {% endif %}
        <div class="result action">
            {% if not worksheet.done %}
                {% partialdef action_buttons inline %}
                <a id="result-action-{{ result.id }}"
                   data-note="{{ result.note|default:'' }}"
                   data-action-url="{% url 'worksheet:result' worksheet.id result.id 'note' %}"
                   hx-on:click="worksheet.showNotePopover(this)"
                   hx-swap-oob="true"
                   >
                   {% if result.note %}
                   <span title="View or modify the note on this result">
                       <img src="{% static 'worksheet/img/note-view.svg' %}"
                            class="icon"
                            alt="View note icon"
                            />
                   </span>
                    {% else %}
                    <span title="Add a note to this result">
                        <img src="{% static 'worksheet/img/note-add.svg' %}"
                             class="icon"
                             alt="Add note icon"
                             />
                    </span>
                    {% endif %}
                </a>
                {% endpartialdef %}
            {% endif %}
        </div>
        <div class="result status">
            <img class="htmx-indicator" src="{% static 'worksheet/img/loader.svg' %}" alt="Loading..." />
            <div class="response"></div>
        </div>
    {% endpartialdef result_row %}
{% endfor %}
{% endblock %}
