{% extends 'worksheet/base.html' %}

{% load static %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'worksheet/css/worksheet.css' %}">
{% endblock %}

{% block topnav-title %}
<p>
    {% if worksheet is None %}
    No worksheet found
    {% else %}
    <strong>{{ worksheet.workout }}</strong> &mdash; {{ worksheet.date }}
    {% endif %}
</p>
{% endblock %}

{% block topnav-offside %}
    {% if worksheet.done %}
        <p>Completed in <strong>{{ worksheet.get_duration }}</strong></p>
    {% else %}
        <strong><span id="clock" class="hidden">0:00:00</span></strong>
    {% endif %}
{% endblock %}

{% block content %}

{% if worksheet is None %}
    <p>No workout for {{ date }}.</p>
    <p><a href="{% url 'worksheet:index' %}">Go back</a></p>
{% else %}
    <section class="worksheet {{ worksheet.get_status }}"
        {% if not worksheet.done %}
        hx-on:update-success="let e = event.target.parentElement;htmx.removeClass(e, 'error');htmx.addClass(e, 'success');"
        hx-on:update-error="let e = event.target.parentElement;htmx.removeClass(e, 'success');htmx.addClass(e, 'error');"
        {% endif %}
        >
        <div class="exercise header">Exercise</div>
        <div class="reps header">Reps</div>
        <div class="weight header">Weight (kg)</div>
        {% if results.0.previous %}
        <div class="reps previous header">Previous reps</div>
        <div class="weight previous header">Previous weight (kg)</div>
        {% endif %}

        {% block workout_results %}{% endblock %}
    </section>

    {% block workout_form %}
    {% if not worksheet.done %}
        <form action="{% url 'worksheet:close' worksheet.id %}" method="POST" class="mt-4 mb-4">
            {% csrf_token %}
            <button type="submit">Close</button>
        </form>
        <dialog id="notePopover" closedby="any" popover>
            {% include 'worksheet/partials/note_form.html' %}
        </dialog>
    {% endif %}
    {% endblock %}

{% endif %}

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'worksheet/js/oat.min.js' %}"></script>
    <script src="{% static 'worksheet/js/worksheet.js' %}"></script>
    {% if not worksheet.done %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            worksheet.initClock('{{ worksheet.started_at|date:"c" }}')
        });
    </script>
    {% endif %}
{% endblock %}
